html {
    background: url(../img/coding-6.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Merriweather Sans', sans-serif;
}

.filtered-searches {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.mood-filter {
    width: 40%;
    text-align: center;
    font-size: 2em;
    padding: 1em
}

.word-filter {
    width: 40%;
    text-align: center;
    font-size: 2em;
    padding: 1em
}

h1 {
    font-size: 6em;
    margin-top: 2em;
    text-align: center;
    color: rgb(38, 21, 20);
    text-shadow: 2px 2px grey;
}

.flexbox-container {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.transparent {
    background-color: rgba(148, 138, 111, .90);
    border-radius: 10px;
    box-shadow: 2px 2px #2e240e;
}



.radio {
    border: 0px;
    width: 100px;
    height: 2em;
    margin: -4%
}

form {
    display: flex;
    flex-direction: column;
    margin: 2% 20%;
}

fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none
}


.header-img {
    width: 100%;
    height: auto;
}

#save-btn {
    font-size: 1em;
    height: 4em;
    width: 60%;
    margin: 4em;
    align-self: center;
    box-shadow: 2px 2px #2e240e;
}

.entryLog {
    display: flex;
    flex-direction: column;
}

.journal-entry {
    margin: 1em 2em;
    padding: 1em
}

.journal-entry h2 {
    text-align: center
}




